force-app/main/default/flows/Approval_Flow_for_Faculty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approval_by_Faculty</name>
        <label>Approval by Faculty</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varRecordid.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Program_Assignment_Details</name>
        <label>Program Assignment Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varRecordid.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Faculty_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Faculty_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Program_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Program_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordid.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Approval Flow for Faculty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Flow for Faculty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Program__c</object>
        <outputReference>varRecordid</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Faculty_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Program_Date__c</queriedFields>
        <queriedFields>Program_End_Date__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Approval_by_Faculty</targetReference>
        </connector>
        <inputReference>varRecordid</inputReference>
    </recordUpdates>
    <screens>
        <name>Program_Details</name>
        <label>Program Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Program_Assignment_Details</targetReference>
        </connector>
        <fields>
            <name>Program_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Program_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varRecordid.Name</elementReference>
                    </defaultValue>
                    <fieldText>Program Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Program_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varRecordid.Program_End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Program End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Faculty_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varRecordid.Faculty_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Faculty Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varRecordid.Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Title</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Course__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Courses</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Program_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Approve</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Program_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varRecordid.Program_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Program Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
</Flow>
