force-app/main/default/flows/FacultyEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>facultyemail</name>
        <label>facultyemail</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>Program__c.Faculty_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>faculty1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>FacultyEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FacultyEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>faculty1</name>
        <label>faculty</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>facultyemail</targetReference>
        </connector>
        <inputReference>Faculty</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>faculty1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Faculty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Program__c</objectType>
    </variables>
</Flow>
