force-app/main/default/flows/Time_Tracker_Logout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Trying to capture Logout time</description>
    <environments>Default</environments>
    <formulas>
        <name>vCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Time Tracker Logout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logout from Salesforce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Todays_Login_Record</name>
        <label>Find Todays Login Record</label>
        <locationX>499</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Logout_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrentUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>Login_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Login_Hours__c</object>
        <outputAssignments>
            <assignToReference>vLoginHourId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Logout_Hours</name>
        <label>Update Logout Hours</label>
        <locationX>677</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>Logout_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLoginHourId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Logout_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Login_Hours__c</object>
    </recordUpdates>
    <screens>
        <name>Logout_Screen</name>
        <label>Logout Screen</label>
        <locationX>846</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LogoutScreenMsg</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Thank you, and see you again! Please click on the &lt;/em&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Logout&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt; button to finish.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Logout</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Find_Todays_Login_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vLoginHourId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vLoginTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLogoutTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTotalTimeSpent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
